ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--ion-color-light);
    padding: 20px; /* Añadir padding para evitar que el contenido toque los bordes */
    max-width: none;
    }
  
  form {
    width: 90vw; /* Usa 90% del ancho de la ventana de visualización */
    max-width: 400px; /* Limita el ancho máximo para pantallas grandes */
    padding: 20px;
    background-color: var(--ion-color-light);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  