// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #FFD700; /* Amarillo */
    --ion-color-secondary: #1E90FF; /* Azul */
    --ion-color-light: #FFFFFF; /* Blanco */
    --ion-color-dark: #000000; /* Negro para contraste */
  }
  